<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="static/semantic.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="app"></div>
    <!-- webpack builds are automatically injected -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script type="text/javascript" src="static/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="static/semantic.min.js"></script>

    <script>if (window.module) module = window.module;</script>
  </body>
</html>
