<template>

  <div id="cluster-modal" class="ui long modal">
    <i class="close icon"></i>
    <div class="header">
      <div  v-if="cluster === undefined"  >Voeg een nieuwe cluster</div>
      <div  v-if="cluster !== undefined"  >Pas de cluster aan</div>
    </div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Cluster naam</label>
          <input v-model="name" type="text" placeholder="Vul een cluster naam in...">
        </div>
        <div class="field">
          <label>Cluster beschrijving</label>
          <textarea rows="2" v-model="description" type="text" placeholder="Vul een beschrijving in..."></textarea>
        </div>
      </form>
    </div>
    <div class="actions">

      <button  v-if="cluster !== undefined"  @click.stop="deleteCluster(cluster)" class="ui circular negative button pull left floated compact"><i class="icon save"></i>Verwijder</button>

      <button   @click.stop="addCluster" class="ui circular positive button pull right floated compact"><i class="icon save"></i>Sla op</button>
    </div>
  </div>

</template>

<script>
  import store from '../store'
  import eventHub from '../eventHub'

  export default {

    data () {
      return {
        name: '',
        description: '',
        cluster:undefined,
      }
    },

    methods: {
      addCluster () {
        if( this.cluster === undefined)
        {
          console.log('adding')
          var newCluster = {}
          newCluster['name'] = this.name
          newCluster['description'] = this.description
          store.addCluster(newCluster)
        }else
        {
          this.cluster.name = this.name
          this.cluster.description = this.description
          this.cluster.icon = this.icon
          store.updateCluster(this.cluster)
        }
        $('#cluster-modal').modal('hide')

      },

      deleteCluster ( myCluster) {
        if( confirm('Ben je zeker dat je ' + myCluster.name +' wilt verwijderen?'  ))
        {
          store.deleteCluster(myCluster)
        }
        $('#cluster-modal').modal('hide')
      },


    },
    mounted () {
      eventHub.$on('add-cluster', () => {
        this.name = this.description = ''
        this.cluster = undefined
        $('#cluster-modal').modal('show')
      }),
      eventHub.$on('edit-cluster', (myCluster) => {
        this.name = myCluster.name
        this.description  = myCluster.description
        this.cluster = myCluster
        $('#cluster-modal').modal('show')
      })
    }
  }
</script>