<template>
  <div id="services-container" class="ui container">
    <div class="content">
      <div class="ui form" >
      <h4 class="ui dividing header">Overzicht clusters</h4>
        <table class="ui compact celled table unstackable">
          <thead class="full-width">
            <tr>
              <th>Cluster</th>
              <th>Beschrijving</th>
              <th style="width:110px"><button @click.stop="addCluster" class="ui circular icon positive button "><i class="icon plus"></i></button></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="myCluster in clusters" >
              <td>{{myCluster.name}}</td>
              <td>{{myCluster.description}}</td>
              <td>
                <button @click.stop="editCluster(myCluster)" class="ui circular icon negative button "><i class="icon edit"></i></button>
                <button @click.stop="listDepartments(myCluster)" class="ui circular icon negative button "><i class="icon list"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
          <button @click.stop="viewSearch" class="ui circular  button pull right floated compact"><i class="icon minus circle"></i>Terug </button>
      </div>
    </div>
      <cluster-modal></cluster-modal>
  </div>
</template>

<script>

  import store from '../store'
  import ClusterModal from './ClusterModal.vue'
  import eventHub from '../eventHub'

  export default {



    data () {
      return {
      }
    },
    components: {
      ClusterModal,
    },

    methods: {

      addCluster () {
        eventHub.$emit('add-cluster')
      },

      editCluster ( myCluster) {
        eventHub.$emit('edit-cluster', myCluster)
      },

      viewSearch () {
        this.$router.push('/')
      },

      listDepartments(myCluster)
      {
        this.$router.push('/departments/'+myCluster['.key'])
      },
    },

    firebase: {
      clusters:
      {
        source: store.db('clusters'),
        asObject: false
      }
    }
  }

</script>