<template>

  <div id="department-modal" class="ui long modal">
    <i class="close icon"></i>
    <div class="header">
      <div  v-if="department === undefined"  >Voeg een nieuwe afdeling toe</div>
      <div  v-if="department !== undefined"  >Pas het afdeling aan</div>
    </div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Afdeling naam</label>
          <input v-model="name" type="text" placeholder="Vul een departement naam in...">
        </div>
        <div class="field">
          <label>Afdeling beschrijving</label>
          <textarea rows="2" v-model="description" type="text" placeholder="Vul een beschrijving in..."></textarea>
        </div>
      </form>
    </div>
    <div class="actions">

      <button  v-if="department !== undefined"  @click.stop="deleteDepartment(department)" class="ui circular negative button pull left floated compact"><i class="icon save"></i>Verwijder</button>

      <button   @click.stop="addDepartment" class="ui circular positive button pull right floated compact"><i class="icon save"></i>Sla op</button>
    </div>
  </div>

</template>

<script>
  import store from '../store'
  import eventHub from '../eventHub'
  export default {

    data () {
      return {
        name: '',
        description: '',
        department:undefined,
        cluster: '',
      }
    },

    methods: {
      addDepartment () {
        if( this.department === undefined)
        {
          var newDepartment = {}
          newDepartment['name'] = this.name
          newDepartment['description'] = this.description
          newDepartment['cluster'] = this.cluster['.key']
          store.addDepartment(newDepartment)
        }else
        {
          this.department.name = this.name
          this.department.description = this.description
          store.updateDepartment(this.department)
        }
        $('#department-modal').modal('hide')

      },

      deleteDepartment ( myDepartment) {
        if( confirm('Ben je zeker dat je ' + myDepartment.name +' wilt verwijderen?'  ))
        {
          store.deleteDepartment(myDepartment)
        }
        $('#department-modal').modal('hide')
      },


    },
    mounted () {
      eventHub.$on('add-department', ( myCluster) => {
        this.name = this.description = ''
        this.department = undefined
        this.cluster = myCluster
        $('#department-modal').modal('show')
      }),
      eventHub.$on('edit-department', (myDepartment) => {
        this.name = myDepartment.name
        this.description  = myDepartment.description
        this.department = myDepartment
        this.cluster = myDepartment.cluster
        $('#department-modal').modal('show')
      })
    }
  }
</script>