<template>
  <div id="departments-container" class="ui container">
    <div class="content">
      <div class="ui form" >
      <h4 class="ui dividing header">Overzicht afdelingen voor cluster: {{cluster.name}} {{clusterKey}}</h4>
        <table class="ui compact celled table unstackable">
          <thead class="full-width">
            <tr>
              <th>Afdeling</th>
              <th>Beschrijving</th>
              <th style="width:110px"><button @click.stop="addDepartment()" class="ui circular icon positive button "><i class="icon plus"></i></button></th>
            </tr>
          </thead>
          <tbody>

            <tr v-for="(myDepartment, key) in departments " >
              <td>{{myDepartment.name}} </td>
              <td>{{myDepartment.description}}</td>
              <td>
                <button @click.stop="editDepartment(myDepartment)" class="ui circular icon negative button "><i class="icon edit"></i></button>
                <button @click.stop="listServices(myDepartment)" class="ui circular icon negative button "><i class="icon list"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
          <button @click.stop="goToClusters" class="ui circular  button pull right floated compact"><i class="icon minus circle"></i>Terug naar cluster: {{cluster.name}}</button>
      </div>
    </div>
      <department-modal></department-modal>
  </div>

</template>


<script>

  import store from '../store'
  import DepartmentModal from './DepartmentModal.vue'
  import eventHub from '../eventHub'
  export default {

    data () {
      return {
        slug:this.$route.params['clusterId'],
      }
    },

    components: {
      DepartmentModal,
    },

    created: function () {
      console.log(this.slug)
      if( this.slug !== undefined)
      {
        this.$bindAsObject('cluster',  store.db('clusters').child(this.slug))
        this.$bindAsArray('departments', store.db('departments').orderByChild('cluster').equalTo(this.slug))
      }
    },
    methods: {

      addDepartment () {
        eventHub.$emit('add-department', this.cluster)
      },

      editDepartment ( myDepartment) {
        eventHub.$emit('edit-department', myDepartment)
      },

      goToClusters () {
        this.$router.push('/clusters')
      },

      listServices(myDepartment)
      {
        if( myDepartment['.key'] !='' && myDepartment['.key'] !== undefined)
        {
          this.$router.push('/services/'+myDepartment['.key'])
        }
      },
    },

  }

</script>