<template>
  <div class="item">
      <div class ="ui items" @click.stop="viewHierarchie" id="clickableView">
        <div class="item">
          <img :src="localImageurl" class="ui tiny rounded image centered search"/>
          <div class="content">
              <h4 class="user">{{firstname}} {{lastname}}<span class="regular"><i v-if="admin" @click.stop="viewEmployee" class="icon edit right-float"></i><span><h4>
              <h5><i v-if="myfunction !==undefined && myfunction !== null" class="legal icon"></i>{{myfunction}}</h5>
              <h5><i v-if="hierarchie !==undefined && hierarchie !== null  && hierarchie !== ''"  class="home icon"></i>{{hierarchie}}</h5>
              <h5><i v-if="phone !==undefined && phone !== null  && phone !== ''"  class="phone icon"></i>{{phone}}</h5>
              <h5><i v-if="email !==undefined && email !== null  && email !== ''"  class="mail icon"></i>{{email}}</h5>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store'

export default {
  props: {
    'id': String,
    'name': String,
    'imageurl': String,
    'firstname': String,
    'lastname': String,
    'hierarchie': String,
    'myfunction': String,
    'phone': String,
    'email': String,
    'bossid': {
      default: -1
    },
    'admin': Boolean
  },
  data() {
    return {
      localImageurl:this.imageurl
    }
  },
  watch: {
    // needed because this.image changes after initialisation of the page
    imageurl: function (newImageurl) {
      this.localImageurl = newImageurl
    }
  },
  methods: {
    deleteEmployee () {
      store.deleteEmployee(this.id)
    },
    viewEmployee () {
      this.$router.push({name:'employee', params:{employeeid:this.id}})

    },
    viewHierarchie () {
      //console.log(this.id + " " + this.bossid)
      this.$router.push({name:'hierarchie', params:{employeeid:this.id, bossid:this.bossid}})

    },
  },


}
</script>