<template>
  <div class="ui container">
      <div class="content">
        <div class="ui form" >
            <h4 class="ui dividing header">Persoonlijke Gegevens</h4>
            <div class="ui grid">
              <div class="six wide column">
                <div class="">
                  <!--<img :src="imageurl" class="ui medium centered image">-->
                   <image-upload-view v-on:image-selected="uploadFile" :image="imageurl" ></image-upload-view>
                </div>

                <!--<div class="ui item floated">
                    <button @click.stop="openFile" class="ui circular button pull right floated compact buttonedPicture " ><i class="icon image"></i>Kies foto</button>
                </div>-->
              </div>
              <div class="ten wide column">
                <div class="field">
                    <label>Naam </label>
                  <div class="two fields">
                    <div class="field ui input" :class="{ error: errors.has('employee.firstname')}">
                      <input type="text" name="employee.firstname"  v-validate="'required'"   placeholder="Voornaam" v-model="employee.firstname">
                    </div>
                    <div class="field" :class="{ error: errors.has('employee.lastname')}">
                      <input type="text" name="employee.lastname" v-validate="'required'"  v-model="employee.lastname" placeholder="Familienaam">
                    </div>
                  </div>
                </div>
                <div v-show="errors.has('employee.firstname') || errors.has('employee.lastname')" class="ui form warning">
                  <div class="ui negative message">
                    <ul v-if="errors.has('employee.firstname')" class="list">
                      <li>{{ errors.first('employee.firstname') }}</li>
                    </ul>
                    <ul v-if="errors.has('employee.lastname')" class="list">
                      <li>{{ errors.first('employee.lastname') }}</li>
                    </ul>
                  </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <div class="field" :class="{ error: errors.has('employee.email')}">
                      <input type="text" name="employee.email" v-validate="'email'"  placeholder="Email" v-model="employee.email">
                    </div>
                </div>
                <div v-show="errors.has('employee.email')" class="ui form warning">
                  <div class="ui negative message">
                    <ul v-if="errors.has('employee.email')" class="list">
                      <li>{{ errors.first('employee.email') }}</li>
                    </ul>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field" :class="{ error: errors.has('employee.phone')}">
                      <label>Telefoon</label>
                      <div class="field">
                        <input type="text" name="employee.phone" v-validate="'numeric'" placeholder="Telefoon" v-model="employee.phone">
                      </div>
                  </div>
                  <div class="field">
                      <label>GSM</label>
                      <div class="field" :class="{ error: errors.has('employee.cell')}">
                        <input type="text" name="employee.cell" v-validate="'numeric'" placeholder="GSM" v-model="employee.cell">
                      </div>
                  </div>
                </div>
                <div v-show="errors.has('employee.phone') || errors.has('employee.cell')" class="ui form warning">
                  <div class="ui negative message">
                    <ul v-if="errors.has('employee.phone')" class="list">
                      <li>{{ errors.first('employee.phone') }}</li>
                    </ul>
                    <ul v-if="errors.has('employee.cell')" class="list">
                      <li>{{ errors.first('employee.cell') }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="ui dividing header">Rol in de organisatie</h4>
            <div class="ui grid">
              <div class="sixteen wide column">
                <div class="field">
                  <label>Functie</label>
                  <div class="field">
                    <multiselect
                      :options="functions"
                      v-model="selectedFunction"
                      :searchable="true"
                      :custom-label="functionTitle"
                      @input="updateFunction"
                      placeholder="Kies een functie"
                      label="title"
                      track-by=".key"
                      :show-labels="false"
                      ><p slot="noResult">Geen resultaat gevonden...</p></multiselect>
                  </div>
                </div>
              </div>
              <div class="eight wide column">
                <div class="field">
                  <label>Cluster</label>
                  <select v-on:change="clusterChange" v-model="employee.cluster" class="ui fluid dropdown">
                  <option v-for="cluster in clusters" v-bind:value="cluster['.key']">
                    {{ cluster.name }}
                  </option>
                  </select>
                </div>
              </div>
              <div class="eight wide column">
                <div class="field">
                  <label>Afdeling</label>
                  <select  v-on:change="departmentChange" v-model="employee.department" class="ui fluid dropdown">
                    <option v-for="department in departments " v-bind:value="department['.key']">
                      {{ department.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="eight wide column">
                <div class="field">
                  <label>Dienst</label>
                  <select v-on:change="serviceChange" v-model="employee.service" class="ui fluid dropdown">
                    <option v-for="service in services" v-bind:value="service['.key']">
                      {{ service.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="eight wide column">
                <div class="field">
                  <label>Team</label>
                  <select v-model="employee.team " class="ui fluid dropdown">
                    <option v-for="team in teams" v-bind:value="team['.key']">
                      {{ team.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <h4 class="ui dividing header">Hierarchie</h4>
            <div class="ui grid">
              <div class="sixteen wide column">
                <div class="field">
                  <label>Leidinggevende</label>
                  <div class="field">
                    <!--<input type="text"  placeholder="Functie" v-model="employee.functie">-->
                    <multiselect
                      :options="employees"
                      v-model="selectedEmployee"
                      :searchable="true"
                      :custom-label="employeeOverview"
                      @input="updateBoss"
                      placeholder="Kies een medewerker"
                      label="firstname"
                      track-by=".key"
                      :show-labels="false"
                      ><p slot="noResult">Geen resultaat gevonden...</p></multiselect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <h4 class="ui  header"></h4>
          <div class="ui item right floated">
          <button  v-if="employee['.key'] !== undefined" @click.stop="deleteEmployee" class="ui  circular negative button floated compact"><i class="icon trash"></i>Verwijder</button>
          <button :disabled="errors.errors.length > 0"  @click.stop="updateEmployee" class="ui  circular positive button pull right floated compact"><i class="icon save"></i>Sla op</button>
          <button   @click.stop="viewSearch" class="ui circular  button pull right floated compact"> <i class="icon minus circle"></i>Terug </button>
          </div>
        </div>
      </div>
 </div>
</template>

<script>

  import store from '../store'
  import Multiselect from 'vue-multiselect'
  import vSelect from 'vue-select'
  import ImageUploadView from './ImageUploadView.vue'

  import {  filterDepartmentsByCluster, filterServicesByDepartment, filterTeamsByService} from '../filters'
  //var dialog = remote.require( 'dialog' );

  export default {

    data () {
      return {
        selected: null,
        query: '',
        route: this.$router._currentRoute,
        slug:this.$route.params['employeeid'],
        employee: {
          imageurl:'',
          department:'',
          service:'',
          team:'',
          firstname:'',
          lastname:'',
          email:'',
          phone:'',
          cell:''
        },
      }
    },
    filters: {
      filterDepartmentsByCluster, filterServicesByDepartment, filterTeamsByService
    },
    computed: {

      // a computed getter
      selectedFunction: function () {
        for(var i = 0; i<this.functions.length; i++)
        {
          //console.log(this.functions[i]['.key'] + " == " +  this.employee.function)
          if( this.functions[i]['.key'] == this.employee.function)
          {
            return this.functions[i]
          }
        }
        return null
      },
      selectedEmployee: function () {
        for(var i = 0; i<this.employees.length; i++)
        {
          //console.log(this.employees[i]['.key'] + " == " +  this.employee.boss)
          if( this.employees[i]['.key'] == this.employee.boss)
          {
            return this.employees[i]
          }
        }
        return null
      },
      imageurl: function()
      {
        if(this.employee.imageurl == '' || this.employee.imageurl === undefined )
        {
          this.employee.imageurl = ''
        }
        return this.employee.imageurl
      }
    },
    components: {
      Multiselect,
      vSelect,
      ImageUploadView
    },
    mounted: function () {
      if( this.slug !== undefined)
      {
        this.$bindAsObject('employee',  store.db('employees').child(this.slug))
      }
    },
    methods: {

      serviceChange()
      {
        this.employee.team =''
      },
      departmentChange()
      {
        this.employee.team =''
        this.employee.service =''
      },
      clusterChange()
      {
        this.employee.team =''
        this.employee.service =''
        this.employee.department =''
      },
      updateEmployee()
      {
        this.$validator.validateAll().then(success => {
          if (! success) {
              // handle error
              return;
          }
          if( this.slug !== undefined)
          {
            store.updateEmployee(this.employee)
          }else
          {
            store.createEmployee(this.employee)
          }
          this.viewSearch()
        }, reject => {
              if( reject )
              {
                window.scrollTo(0,0)
                alert('Gelieve alle benodigde gegevens correct in te vullen.')
              }
              return;
        });
      },

      deleteEmployee () {
        if( confirm('Ben je zeker dat je ' + this.employee.lastname + ' ' + this.employee.firstname + ' wilt verwijderen?'  ))
        {
          store.deleteEmployee(this.employee)
          this.$router.push('/')
        }
      },
      viewSearch () {
        this.$router.push('/')
      },

      updateFunction (value) {
        if( value !== undefined && value != null )
        {
          this.employee.function = value['.key']
          //this.employee.functie = value.title
        }else
        {
          this.employee.function = null
          //this.employee.functie = ""
        }

      },
      functionTitle ({ title }) {
        return `${title}`
      },

      updateBoss (value) {
        if( value !== undefined && value != null )
        {
          this.employee.boss = value['.key']
          //this.employee.functie = value.title
        }else
        {
          this.employee.boss = null
          //this.employee.functie = ""
        }

      },
      employeeOverview ({ firstname, lastname }) {
        return `${firstname} ${lastname}`
      },
      /*openFile()
      {
        let result = dialog.showOpenDialog({properties: ['openFile'],   filters: [
         {name: 'Images', extensions: ['jpg', 'png', 'gif']},
        ]})
        this.employee.imageurl = result[0];
        this.employee.email = result[0];
        //let fotoData = fs.readFileSync(result[0], 'utf8')

        let r = new FileReader()
        fotoData = r.readAsText(result[0])
        this.uploadFile(fotoData)

      },*/
      uploadFile( data )
      {
        var self = this
        //console.log(data);
        console.log('employee/'+this.employee['.key']+'.jpg')
        //store.storage('employee/'+this.employee['.key']+'.jpg').put(data).then(function(snapshot) {
        store.storage('employee/'+this.employee['.key']+'.jpg').putString(data, 'data_url').then(function(snapshot) {
          console.log('Uploaded a blob or file!')
          //console.log(snapshot.downloadURL)
          self.employee.imageurl =snapshot.downloadURL
          $('.page.dimmer').dimmer('hide')
        })


      },
      validateBeforeSubmit() {
          // Validate All returns a promise and provides the validation result.
          this.$validator.validateAll().then(success => {
              if (! success) {
                  // handle error
                  return;
              }
          });
      }
      /*asyncFindBoss (query) {
        this.isLoading = true
        console.log("searching")
        this.searchableBosList = this.employees.filter(function(el) {
          console.log( el.firstname.toLowerCase() + el.lastname.toLowerCase() + " " + query.toLowerCase())
          return  el.firstname.toLowerCase().indexOf(query.toLowerCase()) || el.lastname.toLowerCase().indexOf(query.toLowerCase()) > -1;
        })
        console.log(this.searchableBosList)
        this.isLoading = false
      }*/

    },
    firebase: {
      functions:
      {
        source: store.db('functions'),
        asObject: false
      },
      employees:
      {
        source: store.db('employees'),
        asObject: false
      },
      clusters:
      {
        source: store.db('clusters'),
        asObject: false
      },
      departments:
      {
        source: store.db('departments'),
        asObject: false
      },
      services:
      {
        source: store.db('services'),
        asObject: false
      },
      teams:
      {
        source: store.db('teams'),
        asObject: false
      },
    }
  }

</script>