<template>
  <div id="links-container">
    <div id="toolbar">
      <div class="ui inverted icon fluid input">
        <input v-model="search.query" type="text" id="searchBox" placeholder="Filter medewerkers...">
        <i class="search icon"></i>
      </div>
    </div>
    <div>
        <button v-if="admin" @click="addEmployee" id="addEmployeeInList"
          class="ui  basic icon circular button right-float">
          <i class="icon add"></i>
        </button>
      </div>
    <div class="ui relaxed divided selection list">
      <employee
        v-for="employee in filteredUsers"
        v-bind:id="employee['.key']"
        :firstname="employee.firstname"
        :lastname="employee.lastname"
        :imageurl="employee.imageurl"
        :myfunction="getFunctionName(employee.function)"
        :hierarchie="getHierarchie( employee.cluster, employee.department, employee.service, employee.team)"
        :phone="getCombinedPhone(employee)"
        :email="employee.email"
        :bossid="employee.boss"
        :admin="admin">
      </employee>
    </div>
  </div>
</template>

<script>

  import Employee from './Employee.vue'
  import { filterEmployeeByName, filterByFunction, filterEmployeeByCluster, filterEmployeeByDepartment, filterEmployeeByService, filterEmployeeByTeam} from '../filters'
  import saveState from 'vue-save-state';

  //import _ from 'lodash'

  var ipc = require('electron').ipcRenderer
  //electron listener activates search box.
  ipc.on('window-shown', function () {
    $('#searchBox').focus()
  })



  export default {

    data () {
      return {
        search : {
          query: '',
        }
      }
    },
    mixins:[saveState],
    computed: {
      filteredUsers: //_.debounce(
        function () {
               return filterEmployeeByTeam(
                    filterEmployeeByService(
                      filterEmployeeByDepartment(
                        filterEmployeeByCluster(
                          filterByFunction (
                              filterEmployeeByName( this.employees, this.search.query)
                          , this.selectedFunction)
                        , this.selectedCluster)
                      ,this.selectedDepartment)
                    ,this.selectedService)
                  ,this.selectedTeam)
                  ;
        /*return this.employees.filter(function (user) {
          console.log(user)

          return true
        })*/
      }//, 500)
      ,
      selectedFunction(){
        return this.$store.getters.functionFilter
      },
     selectedCluster(){
        return this.$store.getters.clusterFilter
      },
      selectedDepartment(){
        return this.$store.getters.departmentFilter
      },
      selectedService(){
        return this.$store.getters.serviceFilter
      },
      selectedTeam(){
        return this.$store.getters.teamFilter
      }
    },
    methods: {

     getSaveStateConfig() {
          return {
              'cacheKey': 'employeeList',
          }
      },
      getCombinedPhone(employee)
      {
        let result=[]
        if( employee.phone != undefined && employee.phone != ''){
          result.push(employee.phone)
        }
        if( employee.cell != undefined && employee.cell != ''){
          result.push(employee.cell)
        }
        return result.join(' | ')
      },
      getFunctionName( functionId)
      {

        for(var i = 0; i<this.functions.length; i++)
        {
          //console.log(this.functions[i]['.key'] + " == " +  this.employee.function)
          if( this.functions[i]['.key'] == functionId)
          {
            return this.functions[i].title
          }
        }
        return null
      },
      getHierarchie( clusterId, departmentId, serviceId, teamId)
      {

        let result=[]
        if( clusterId !== undefined)
        {
          for(var i = 0; i<this.clusters.length; i++)
          {
            if( this.clusters[i]['.key'] == clusterId)
            {
              result.push( this.clusters[i].name)
              break
            }
          }
        }
        for(i = 0; i<this.departments.length; i++)
        {
          if( this.departments[i]['.key'] == departmentId)
          {
            result.push(this.departments[i].name)
            break
          }
        }
        for(i = 0; i<this.services.length; i++)
        {
          if( this.services[i]['.key'] == serviceId)
          {
            result.push(this.services[i].name)
            break
          }
        }
        for(i = 0; i<this.teams.length; i++)
        {
          if( this.teams[i]['.key'] == teamId)
          {
            result.push(this.teams[i].name)
            break
          }
        }
        return result.join(' | ')
      },
      addEmployee () {
        this.$router.push('/employee')
      },
    },
    props: ['employees','functions', 'clusters', 'departments', 'services', 'teams', 'admin' ],

    components: {
      Employee
    },

    /*filters: {
      filterEmployeeByName
    }*/
  }


</script>