<style>
  /*Now the CSS*/
  * {
      margin: 0;
      padding: 0;
  }

  body{
    overflow: auto
  }

  .tree {
      width: auto;
      margin-left: auto;
      margin-right: auto;
  }
  .tree ul {
      padding-top: 20px;
      position: relative;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
  }
  .tree li {
      float: left;
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 20px 5px 0 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
  }
  /*We will use ::before and ::after to draw the connectors*/
  .tree li::before, .tree li::after {
      content:'';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 4px solid #ccc;
      width: 50%;
      height: 20px;
  }
  .tree li:after {
      right: auto;
      left: 50%;
      border-left: 4px solid #ccc;
  }
  /*We need to remove left-right connectors from elements without
any siblings*/
  .tree li:only-child::after, .tree li:only-child::before {
      display: none;
  }
  /*Remove space from the top of single children*/
  .tree li:only-child {
      padding-top: 0;
  }
  /*Remove left connector from first child and
right connector from last child*/
  .tree li:first-child::before, .tree li:last-child::after {
      border: 0 none;
  }
  /*Adding back the vertical connector to the last nodes*/
  .tree li:last-child::before {
      border-right: 4px solid #ccc;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
  }
  .tree li:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
  }
  /*Time to add downward connectors from parents*/
  .tree ul ul::before {
      content:'';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 4px solid #ccc;
      width: 0;
      height: 20px;
      margin-left: -1px;
  }
  .tree li div.treeitem {
      border: 4px solid #ccc;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
  }
  /*Time for some hover effects*/
  /*We will apply the hover effect the the lineage of the element also*/
  .tree li a:hover, .tree li a:hover+ul li a {
      background: #c8e4f8;
      color: #000;
      border: 1px solid #94a0b4;
  }
  /*Connector styles on hover*/
  .tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
      border-color: #94a0b4;
  }
  li div.treeitem.just-line {
      display: none;
  }
  div.treeitem.just-line + ul {
      padding-top: 74px;
  }
  div.treeitem.just-line + ul:before {
      height: 74px;
  }

  div.treeitem.me{
    background: white;
    width: 100%;
    min-width:400px;
    max-height: 800px;
  }

  div.treeitem{
    background: white;
    max-width: 300px;
  }

  .ui.card, .ui.cards>.card {
    box-shadow: none;
        width: auto;

  }

  .ui.card>.content
  {
    padding: 0px;
    min-width: 200px;
  }

  .fillContent
  {
    width: -webkit-max-content;
  }

  .footer
  {
    margin-top:30px;
  }

</style>



<template>
  <div class="ui">
    <div class="content fillContent">
      <div class="ui one column centered grid">
        <div class="tree">
            <ul>
                <li> <div class="treeitem" v-if="bossid !== ':bossid'"  v-on:click="viewHierarchie(employeeboss['.key'] , employeeboss.boss)">
                      <div class=" ui card">
                        <div class="content">
                          <img class="left floated tiny ui rounded image" :src="employeeboss.imageurl">
                          <div class="header">
                            <h4>{{employeeboss.firstname}} {{employeeboss.lastname}}</h4>
                          </div>
                          <div class="meta">
                            <h5>{{getFunctionName( employeeboss.function)}}</h5>
                            <h5>{{getHierarchie( employeeboss.cluster, employeeboss.department, employeeboss.service, employeeboss.team)}}</h5>
                          </div>
                          <div class="description">
                          </div>
                        </div>
                      </div>
                    </div>

                    <ul>
                        <li>
                        <div href="#" class="me treeitem">
                          <div class="ui card me">
                            <div class="content">
                              <img  class="left floated small ui rounded image" :src="employee.imageurl">
                              <div class=""><h4>{{employee.firstname}} {{employee.lastname}}</h4></div>
                              <div class="meta">
                                <h5>{{ getFunctionName( employee.function)}}</h5>
                                <h5>{{getHierarchie( employee.cluster, employee.department, employee.service, employee.team)}}</h5>
                                <h5><i v-if=" employee.phone !==undefined &&  employee.phone !== null  &&  employee.phone !== ''"  class="phone icon"></i>{{ employee.phone}}</h5>
                                <h5><i v-if=" employee.email !==undefined &&  employee.email !== null  &&  employee.email !== ''"  class="mail icon"></i>{{ employee.email}}</h5>

                              </div>
                              <div class="description">
                              </div>
                            </div>
                          </div>
                        </div>
                            <ul>
                              <li v-for="employeesub in employeesubs"  >
                                <div class="treeitem" v-on:click="viewHierarchie(employeesub['.key'] , employeesub.boss)">
                                  <div class=" ui card" >
                                    <div class="content">
                                      <img class="left floated tiny ui rounded image" :src="employeesub.imageurl">
                                      <div class="header">
                                        <h4>{{employeesub.firstname}} {{employeesub.lastname}}</h4>
                                      </div>
                                      <div class="meta">
                                        <h5>{{getFunctionName( employeesub.function)}}</h5>
                                        <h5>{{getHierarchie( employeesub.cluster, employeesub.department, employeesub.service, employeesub.team)}}</h5>
                                      </div>
                                      <div class="description">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="one column row footer">
      <div class="ui item right floated">
        <button   @click.stop="viewSearch" class="ui circular  button floated compact"> <i class="icon minus circle"></i>Terug </button>
      </div>
    </div>
 </div>
</template>

<script>

  import store from '../store'

  export default {
    data () {
      return {
        selected: null,
        query: '',
        route: this.$router._currentRoute,
        employeeid:this.$route.params['employeeid'],
        bossid:this.$route.params['bossid'],
      }
    },
    created: function () {
      if( this.employeeid !== undefined)
      {

        this.$bindAsObject('employee',  store.db('employees').child(this.employeeid))

        this.$bindAsObject('employeeboss',  store.db('employees').child(this.bossid))

        this.$bindAsArray('employeesubs', store.db('employees').orderByChild('boss').equalTo(this.employeeid))
      }
    },

    methods: {

      viewSearch () {
        this.$router.push('/')
      },
      getCombinedPhone(employee)
      {
        let result=[]
        if( employee.phone != undefined && employee.phone != ''){
          result.push(employee.phone)
        }
        if( employee.cell != undefined && employee.cell != ''){
          result.push(employee.cell)
        }
        return result.join(' | ')
      },
      getFunctionName( functionId)
      {

        for(var i = 0; i<this.functions.length; i++)
        {
          //console.log(this.functions[i]['.key'] + " == " +  this.employee.function)
          if( this.functions[i]['.key'] == functionId)
          {
            return this.functions[i].title
          }
        }
        return null
      },
      getHierarchie( clusterId, departmentId, serviceId, teamId)
      {

        let result=[]
        if( clusterId !== undefined)
        {
          for(var i = 0; i<this.clusters.length; i++)
          {
            if( this.clusters[i]['.key'] == clusterId)
            {
              result.push( this.clusters[i].name)
              break
            }
          }
        }
        for( i = 0; i<this.departments.length; i++)
        {
          if( this.departments[i]['.key'] == departmentId)
          {
            result.push(this.departments[i].name)
            break
          }
        }
        for( i = 0; i<this.services.length; i++)
        {
          if( this.services[i]['.key'] == serviceId)
          {
            result.push(this.services[i].name)
            break
          }
        }
        for( i = 0; i<this.teams.length; i++)
        {
          if( this.teams[i]['.key'] == teamId)
          {
            result.push(this.teams[i].name)
            break
          }
        }
        return result.join(' | ')
      },
      viewHierarchie (id, bossid) {
        this.employeeid = id
        this.bossid = bossid

        this.$bindAsObject('employee',  store.db('employees').child(this.employeeid))
        if(bossid === undefined)
        {
          this.bossid=':bossid'
        }
        this.$bindAsObject('employeeboss',  store.db('employees').child(this.bossid))
        this.$bindAsArray('_employeesubs', store.db('employees').orderByChild('boss').equalTo(this.employeeid))
        this.employeesubs = this._employeesubs
        //this.$router.push({name:'hierarchie', params:{employeeid:id, bossid:bossid}});
      },
    },
    firebase: {
      functions:
      {
        source: store.db('functions'),
        asObject: false
      },
      clusters:
      {
        source: store.db('clusters'),
        asObject: false
      },
      departments:
      {
        source: store.db('departments'),
        asObject: false
      },
      services:
      {
        source: store.db('services'),
        asObject: false
      },
      teams:
      {
        source: store.db('teams'),
        asObject: false
      },
    }
  }

</script>