<template>

  <div id="function-modal" class="ui long modal">
    <i class="close icon"></i>
    <div class="header">
      <div  v-if="myFunction === undefined"  >Voeg een nieuwe functie toe</div>
      <div  v-if="myFunction !== undefined"  >Pas de functie aan</div>
    </div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Functie titel</label>
          <input v-model="title" type="text" placeholder="Vul een functie titel in...">
        </div>
        <div class="field">
          <label>Functie beschrijving</label>
          <textarea rows="2" v-model="description" type="text" placeholder="Vul een beschrijving in..."></textarea>
        </div>
      </form>
    </div>
    <div class="actions">

      <button  v-if="myFunction !== undefined"  @click.stop="deleteFunction(myFunction)" class="ui circular negative button pull left floated compact"><i class="icon save"></i>Verwijder</button>

      <button   @click.stop="addFunction" class="ui circular positive button pull right floated compact"><i class="icon save"></i>Sla op</button>
    </div>
  </div>

</template>

<script>
  import store from '../store'
  import eventHub from '../eventHub'

  export default {

    data () {
      return {
        title: '',
        description: '',
        icon:'',
        functionIcons: ['bug', 'student', 'spy', 'child', 'user',
          'doctor', 'legal', 'life ring', 'travel', 'cocktail'],
        myFunction:undefined,
      }
    },

    methods: {
      addFunction () {
        if( this.myFunction === undefined)
        {
          console.log('adding')
          var newFunction = {}
          newFunction['title'] = this.title
          newFunction['description'] = this.description
          newFunction['icon'] = this.icon
          store.addFunction(newFunction)
        }else
        {
          this.myFunction.title = this.title
          this.myFunction.description = this.description
          this.myFunction.icon = this.icon
          store.updateFunction(this.myFunction)
        }
        $('#function-modal').modal('hide')

      },

      deleteFunction ( myFunction) {
        if( confirm('Ben je zeker dat je ' + myFunction.title +' wilt verwijderen?'  ))
        {
          store.deleteFunction(myFunction)
        }
        $('#function-modal').modal('hide')
      },


    },
    mounted () {
      eventHub.$on('add-function', () => {
        this.title = this.description = ''
        this.icon = 'spy'
        this.myFunction = undefined
        $('#function-modal').modal('show')
      }),
      eventHub.$on('edit-function', (myFunction) => {
        this.title = myFunction.title
        this.description  = myFunction.description
        this.icon = myFunction.icon
        this.myFunction = myFunction
        $('#function-modal').modal('show')
      })
    }

  }
</script>