<template>
  <div id="functions-container" class="ui container">
    <div class="content">
      <div class="ui form" >
        <h4 class="ui dividing header">Overzicht functies</h4>
        <table class="ui compact celled table unstackable">
          <thead class="full-width">
            <tr>
              <th>Functie titel</th>
              <th>Beschrijving</th>
              <th style="width:60px"><button @click.stop="addFunction" class="ui circular icon positive button "><i class="icon plus"></i></button></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="myFunction in functions" >
              <td>{{myFunction.title}}</td>
              <td>{{myFunction.description}}</td>
              <td><button @click.stop="editFunction(myFunction)" class="ui circular icon negative button "><i class="icon edit"></i></button></td>
            </tr>
          </tbody>
        </table>
          <button @click.stop="viewSearch" class="ui circular  button pull right floated compact"><i class="icon minus circle"></i>Terug </button>
      </div>
    </div>
      <function-modal></function-modal>
  </div>
</template>

<script>

  import store from '../store'
  import eventHub from '../eventHub'

  import FunctionModal from './FunctionModal.vue'
  export default {



    data () {
      return {
      }
    },
    components: {
      FunctionModal,
    },

    methods: {

      addFunction () {
        eventHub.$emit('add-function')
      },

      editFunction ( myFunction) {
        console.log(myFunction[".key"])
        eventHub.$emit('edit-function', myFunction)
      },
      viewSearch () {
        this.$router.push('/')

      },

    },

    firebase: {
      functions:
      {
        source: store.db('functions'),
        asObject: false
      }
    }
  }

</script>