<style>
.dropzone-area {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    min-height: 200px;
    position: relative;
    border: 2px dashed #CBCBCB;
    &.hovered {
        border: 2px dashed #2E94C4;
        .dropzone-title {
          color: #1975A0;
        }
    }
}

.dropzone-area input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.dropzone-text {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    width: 100%;
    span {
        display: block;
        font-family: Arial, Helvetica;
        line-height: 1.9;
    }
}

.dropzone-title {
    font-size: 13px;
    color: #787878;
    letter-spacing: 0.4px;
}
.dropzone-info {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #A8A8A8;
    letter-spacing: 0.4px;
}

.dropzone-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.dropzone-preview > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    min-height: 200px;
}
.ui.button.removeImageButton
{
  margin-right: 15px;
  margin-top: 5px;
}

.ui.dimmer>.content>* {
    display: table-cell;
    vertical-align: middle;
    /* color: #fff; */
}
</style>


<template>
  <div>
    <div class="ui page dimmer">
      <div class="content">
        <div class="center">
          <h2 class="ui inverted icon header">
            <i class="upload icon"></i>
            Foto wordt opgeladen
            <div class="sub header">Eventjes geduld...</div>
          </h2>
        </div>
      </div>
    </div>
    <div class="ui modal fullscreen hidden" id="image-modal">
      <i class="close icon"></i>
      <div class="header">
        Snij foto bij
      </div>
      <div class="image content" style="display: inline-block;">
        <vue-cropper
            ref=cropper
            :guides=false
            :view-mode=2
            :drag-mode="crop"
            :aspect-ratio="1"
            :auto-crop-area="1"
            :crop-box-resizable="true"
            :background=true
            :rotatable=true
            :src=localImage
            :cropmove=cropImage
            :imgStyle="{ 'width': '200px', 'height': '300px' }"
            >
        </vue-cropper>
      </div>
      <div class="actions">
        <button @click="saveImage" class="ui circular button pull compact right floated positive"><i class="icon checkmark"></i>Snij bij</button>
      </div>
    </div>


    <div v-if="!localImage">
        <div class="dropzone-area" drag-over="handleDragOver" @dragenter="hovering = true" @dragleave="hovering = false" :class="{'hovered': hovering}">
            <div class="dropzone-text">
                <span class="dropzone-title">Drop hier je foto of klik om een bestand te selecteren</span>
            </div>
            <input type="file" accept="image/*"  @change="onFileChange">
        </div>
    </div>
    <div v-if="localImage">
      <div class="dropzone-preview">
          <img :src="localImage" />
          <button @click="removeImage" v-if="localImage" class="removeImageButton ui circular button pull compact right floated"><i class="icon trash"></i>Verwijder foto</button>
      </div>
    </div>
  </div>
</template>


<script>

//import store from '../store'
import VueCropper from 'vue-cropperjs';


export default {


  props: ['image'],

  data() {
    return {
      hovering:false,
      localImage:this.image,
      cropImg: ''
    }
  },
  watch: {
    // needed because this.image changes after initialisation of the page
    image: function (newImage) {
      this.localImage = newImage
    }
  },
  components: {
    VueCropper
  },
  methods: {
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files
      if(e.target && e.target.files )
      {
        e.target.files = null
      }
      if( e.dataTransfer && e.dataTransfer.files )
      {
        e.dataTransfer.files= null
      }
      if (!files.length) return
      this.createImage(files[0])
      //this.$emit('image-selected', files[0])
    },

    createImage(file) {
      var reader = new FileReader()
      var vm = this
      reader.onload = (e) => {
        //vm.localImage = e.target.result
        vm.$refs.cropper.replace(e.target.result);
        $('#image-modal').modal({detachable:false, observeChanges:false}).modal('show')
      }
      reader.readAsDataURL(file)
    },
    removeImage: function () {
      this.localImage = ''
    },
    cropImage () {
        // get image data for post processing, e.g. upload or setting image src
        this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    rotate () {
        // guess what this does :)
        this.$refs.cropper.rotate(90);
    },
    saveImage()
    {

      $('.page.dimmer').dimmer('show')
      this.localImage = this.cropImg
      this.$emit('image-selected', this.$refs.cropper.getCroppedCanvas().toDataURL())
    },

        // assign ref property to access the underlying functions
    // all cropperjs options should be in kebab-case instead of camelCase
    // see http://vuejs.org/guide/components.html#camelCase-vs-kebab-case

  }

}

</script>