<style>
  /*Now the CSS*/
  .ui.input.loginInputFields{
     min-width: 300px !important;
  }
</style>

<template>
  <form class="ui large form">
    <div class="ui container">
      <div class="content">
        <div class="ui form" >
          <div class="ui grid">
             <div class="sixteen wide column">
              <div class="ui middle aligned center aligned grid">
                <div class="ui stacked segment center">
                  <div class="field">
                    <div class="ui left icon input loginInputFields">
                      <i class="user icon"></i>
                      <input type="text" name="email" v-model="username" placeholder="E-mail addres">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input loginInputFields">
                      <i class="lock icon"></i>
                      <input type="password" name="password" v-model="password" placeholder="Paswoord">
                    </div>
                  </div>
                  <div class="ui fluid large submit button" v-bind:class="{disabled:username == '' || password == ''}" @click.stop="login">Login</div>
                  <div class="ui negative message" v-if="errorMessage !==''">
                    <div class="header">
                      Oepsie...
                    </div>
                    <p>{{errorMessage}}
                  </p></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>

  //import { remote } from 'electron'
  import store from '../store'


  export default {


    data () {
      let password = ''
      let username = ''

      /*let userInfo = store.userInfo()
      if( userInfo != undefined && userInfo != ''){
        if( userInfo.password)
        {
          password = userInfo.password
        }
        if( userInfo.email)
        {
          password = userInfo.email
        }
      }*/


      return {
        route: this.$router._currentRoute,
        password: password,
        username: username,
        errorMessage:'',
      }
    },
    filters: {
    },
    computed: {

    },
    components: {

    },
    mounted: function () {
      store.AuthChanged(this.loggedIn)
    },

    methods: {
      loggedIn( user)
      {
        if( user )
        {
          this.viewSearch()
        }
      },
      messageError( errorMessage)
      {
        this.errorMessage = errorMessage
      },
      login()
      {
        store.logIn(this.username, this.password, this.messageError)
      },
      viewSearch () {
        this.$router.push('/')
      },
    }
  }

</script>