<template>
  <div id="notfound-container" class="ui container">
    <div class="content">
      <h1>Not Found</h1>
      <p>You are currently at <code>`{{ route.path }}`</code></p>
      <button @click.stop="goBack" class="ui circular button pull right floated compact"><i class="icon minus circle"></i>Terug</button>
    </div>
  </div>

</template>

<script>

  export default {

    data () {
      console.log(this.$route)
      return {
        route : this.$route
      }
    },
    methods: {
      goBack () {
        this.$router.push('/')
      }
    }

  }
</script>
