<template>
    <div>
        <div id="searchview">
            <sidebar
              :categories="categories"
              v-on:category-selected="setSelectedCategory">
              <!-- bind 'selected-category event to the event handler setSelectedCategory' -->
            </sidebar>
            <employee-list
              :employees="employees">
            </employee-list>
        </div>
    </div>
</template>

<script>
  //import store from './store'
  import Sidebar from './components/Sidebar.vue'
  import EmployeeList from './components/EmployeeList.vue'
  import EmployeeView from './components/EmployeeView.vue'
  /*import { filterByCategory } from './filters'
  import { filterEmployeeByName } from './filters'*/

  export default {

    components: {
      Sidebar,
      EmployeeList,
      EmployeeView,
    },

    data () {
      return {
        employees: {},
        categories: {},
        selections:{
          selectedCategory: '',
        }
      }
    },

    /*filters: {
      filterByCategory, filterEmployeeByName
    },*/

    /*created () {
      // assign the event handler `updateListings` to the `data-updated` event
     // store.eventHub.$emit('data-updated', this.updateListings)
    },*/

    methods: {
      // set the bookmarks and categories data properties to the new ones
      // received from the store
      updateListings (categories, bookmarks, employees) {
        this.categories = categories
        this.employees = employees
      },

      setSelectedCategory (category) {
        this.selections.selectedCategory = category
      },
    }

  }
</script>