<template>
    <div id="app">
        <div id="searchview">
            <sidebar
              v-on:function-selected="setSelectedFunction"
              v-on:cluster-selected="setSelectedCluster"
              v-on:department-selected="setSelectedDepartment"
              v-on:service-selected="setSelectedService"
              v-on:team-selected="setSelectedTeam"
              :functions ="functions"
              :clusters = "clusters"
              :departments ="departments"
              :services ="services"
              :teams ="teams"
              :admin ="loggedInUser.admin"
              >
              <!-- bind 'selected-category event to the event handler setSelectedCategory' -->
            </sidebar>
            <employee-list
              :employees="employees"
              :functions ="functions"
              :clusters = "clusters"
              :departments ="departments"
              :services ="services"
              :teams ="teams"
              :admin ="loggedInUser.admin"
              >
            </employee-list>
        </div>
    </div>
</template>

<script>
  import store from '../store'
  import Sidebar from './Sidebar.vue'
  import EmployeeList from './EmployeeList.vue'
  import EmployeeView from './EmployeeView.vue'
  import { filterByCategory, filterByFunction, filterEmployeeByName, filterEmployeeByCluster, filterEmployeeByDepartment, filterEmployeeByService, filterEmployeeByTeam} from '../filters'
  import SaveState from 'vue-save-state'

  export default {

    components: {
      Sidebar,
      EmployeeList,
      EmployeeView
    },

    data () {
      return {
        //employees: {},
        //bookmarks: {},
        selectedCategory: '',
        selectedFunction:'',
        selectedCluster:'',
        selectedDepartment:'',
        selectedService:'',
        selectedTeam:''
      }
    },
    mixins:[SaveState],
    filters: {
      filterByCategory, filterEmployeeByName, filterByFunction, filterEmployeeByCluster, filterEmployeeByDepartment, filterEmployeeByService, filterEmployeeByTeam
    },

    created () {
      if( localStorage.getItem('loggedInUserUid'))
      {
        this.$bindAsObject('loggedInUser',  store.db('users').child(localStorage.getItem('loggedInUserUid')))
      }else{
        this.$router.push('/login')
      }
    },
    methods: {

     getSaveStateConfig() {
          return {
              'cacheKey': 'searchview',
          }
      },
      setSelectedFunction(functionKey)
      {
        this.selectedFunction = functionKey
      },

      setSelectedCluster(key)
      {
        this.selectedCluster = key
        this.selectedDepartment = ''
        this.selectedService = ''
        this.selectedTeam = ''
      },

      setSelectedDepartment(key)
      {
        this.selectedDepartment = key
        this.selectedService = ''
        this.selectedTeam = ''
      },

      setSelectedService(key)
      {
        this.selectedService = key
        this.selectedTeam = ''
      },
      setSelectedTeam(key)
      {
        this.selectedTeam = key
      }

    }
    ,

    route: {
      data: function () {
      }
    },
    firebase: {
      employees:
      {
        source: store.db('employees'),
        asObject: false
      },
      functions:
      {
        source: store.db('functions'),
        asObject: false
      },
      clusters:
      {
        source: store.db('clusters'),
        asObject: false
      },
      departments:
      {
        source: store.db('departments'),
        asObject: false
      },
      services:
      {
        source: store.db('services'),
        asObject: false
      },
      teams:
      {
        source: store.db('teams'),
        asObject: false
      }
    }
  }
</script>
