<template>

  <div id="service-modal" class="ui long modal">
    <i class="close icon"></i>
    <div class="header">
      <div  v-if="service === undefined"  >Voeg een nieuwe dienst toe</div>
      <div  v-if="service !== undefined"  >Pas de dienst aan</div>
    </div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Dienst naam</label>
          <input v-model="name" type="text" placeholder="Vul een dienst naam in...">
        </div>
        <div class="field">
          <label>Dienst beschrijving</label>
          <textarea rows="2" v-model="description" type="text" placeholder="Vul een beschrijving in..."></textarea>
        </div>
      </form>
    </div>
    <div class="actions">

      <button  v-if="service !== undefined"  @click.stop="deleteService(service)" class="ui circular negative button pull left floated compact"><i class="icon save"></i>Verwijder</button>

      <button   @click.stop="addService" class="ui circular positive button pull right floated compact"><i class="icon save"></i>Sla op</button>
    </div>
  </div>

</template>

<script>
  import store from '../store'
  import eventHub from '../eventHub'

  export default {

    data () {
      return {
        name: '',
        description: '',
        service:undefined,
        department: '',
      }
    },

    methods: {
      addService () {
        if( this.service === undefined)
        {
          console.log('adding')
          var newService = {}
          newService['name'] = this.name
          newService['description'] = this.description
          newService['department'] = this.department['.key']
          store.addService(newService)
        }else
        {
          this.service.name = this.name
          this.service.description = this.description
          store.updateService(this.service)
        }
        $('#service-modal').modal('hide')

      },

      deleteService ( myService) {
        console.log(myService['.key'])
        if( confirm('Ben je zeker dat je ' + myService.name +' wilt verwijderen?'  ))
        {
          store.deleteService(myService)
        }
        $('#service-modal').modal('hide')
      },


    },
    mounted () {
      eventHub.$on('add-service', ( myDepartment) => {
        this.name = this.description = ''
        this.service = undefined
        this.department = myDepartment
        $('#service-modal').modal('show')
      }),
      eventHub.$on('edit-service', (myService) => {
        this.name = myService.name
        this.description  = myService.description
        this.service = myService
        this.department = myService.department
        $('#service-modal').modal('show')
      })
    }

  }
</script>