<template>
  <div id="service-container" class="ui container">
    <div class="content">
      <div class="ui form" >
      <h4 class="ui dividing header">Overzicht diensten voor afdeling: {{department.name}}</h4>
        <table class="ui compact celled table unstackable">
          <thead class="full-width">
            <tr>
              <th>Service</th>
              <th>Beschrijving</th>
              <th style="width:110px"><button @click.stop="addService" class="ui circular icon positive button "><i class="icon plus"></i></button></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="myService in services" >
              <td>{{myService.name}}</td>
              <td>{{myService.description}}</td>
              <td>
                <button @click.stop="editService(myService)" class="ui circular icon negative button "><i class="icon edit"></i></button>
                <button @click.stop="listTeams(myService)" class="ui circular icon negative button "><i class="icon list"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
          <button @click.stop="goToDepartments" class="ui circular  button pull right floated compact"><i class="icon minus circle"></i>Terug naar departement: {{department.name}}</button>
      </div>
    </div>
      <service-modal></service-modal>
  </div>
</template>

<script>

  import store from '../store'
  import ServiceModal from './ServiceModal.vue'
  import eventHub from '../eventHub'

  export default {


    data () {
      return {
         //department:{},
        slug:this.$route.params['departmentId'],
      }
    },
    components: {
      ServiceModal,
    },
    created: function () {
      console.log(this.slug)
      if( this.slug !== undefined)
      {
        this.$bindAsObject('department',  store.db('departments').child(this.slug))
        this.$bindAsArray('services', store.db('services').orderByChild('department').equalTo(this.slug))
        this.$bindAsArray('employeesubs', store.db('employees'))
        //retrievedFunction  =store.db('functions').child(this.employee.function);
        //console.log(retrievedFunction);
      }
    },
    methods: {

      addService () {
        eventHub.$emit('add-service', this.department)
        console.log(this.department)
      },

      editService ( myService) {
        eventHub.$emit('edit-service', myService)
      },

      goBack () {
        this.$router.push('/')
      },
      goToDepartments() {
        this.$router.push('/departments/'+this.department.cluster)
      },


      listTeams(myTeam)
      {
        this.$router.push('/teams/'+myTeam['.key'])
      },
    },

  }

</script>