<template>
  <form class="ui large form">
    <div class="ui container">
        <div class="content">
            <div class="ui form" >
                <h4 class="ui dividing header">Instellingen</h4>
                <div class="ui grid">
                  <div class="sixteen wide column">
                    <div class="field">
                      <label>Gebruikersgegevens</label>
                      <div class="field">
                           <button   @click.stop="doLogout" class="ui circular button compact pull left floated"><i class="unlock icon"></i>Logout</button>
                      </div>
                    </div>
                  </div>
                  <div class="sixteen wide column">
                    <div class="field">
                      <label>Toetsencombinatie voor opstarten</label>
                      <div class="field">
                        <div class="ui label">
                          <i class="keyboard icon"></i> ctrl+shift+space
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="loggedInUser.admin" class="eight wide column">
                    <div class="field">
                      <label>Export</label>
                      <div class="field">
                           <button   @click.stop="exportData" class="ui circular button compact pull left floated"><i class="cloud download icon"></i>Exporteer medewerker gegevens</button>
                      </div>
                    </div>
                  </div>
                  <div v-if="loggedInUser.admin" class="eight wide column">
                    <div class="field">
                      <label>Import</label>
                      <div class="field">
                        <input type="file" id="files" name="file" v-on:change="importData"/>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

              <h4 class="ui  header"></h4>
              <div class="ui item right floated">
              <button   @click.stop="viewSearch" class="ui circular  button pull right floated compact"> <i class="icon minus circle"></i>Terug </button>
              </div>
            </div>
          </div>
        </div>
   </div>
</form>
</template>

<script>

  //import { remote } from 'electron'
  import store from '../store'
  import XLSX from 'xlsx'
  import fileSaver from 'file-saver'

  export default {


    data () {
      return {
        route: this.$router._currentRoute,
        loggedInUser: ''
      }
    },
    filters: {
    },
    components: {

    },
    created: function () {
      if( localStorage.getItem('loggedInUserUid'))
      {
        this.$bindAsObject('loggedInUser',  store.db('users').child(localStorage.getItem('loggedInUserUid')))
      }else
      {
        this.viewLogin()
      }
    },
    computed: {

    },
    methods: {

      viewSearch () {
        this.$router.push('/')
      },
      viewLogin()
      {
        console.log(this.$router)
        this.$router.push('/login')
      },
      doLogout()
      {
        store.logout(this.viewLogin)
      },
      exportData()
      {
        var employeesData = [['id', 'imageurl', 'firstname', 'lastname', 'cluster', 'department', 'service', 'team', 'function', 'phone', 'cell', 'email', 'boss']]

        store.db('employees').orderByKey().once('value', function(data) {
          console.log('initial data loaded!')

          var myEmployees = $.map(data.val(), function(value) {
            return [value]
          })
          var myEmployeeIds = $.map(data.val(), function(value, index) {
            return [index]
          })
          for(var i= 0; i< myEmployees.length; i++ )
          {
            employeesData.push(
              [myEmployeeIds[i], myEmployees[i]['imageurl'], myEmployees[i]['firstname'], myEmployees[i]['lastname'],myEmployees[i]['cluster'],myEmployees[i]['department'],myEmployees[i]['service'],myEmployees[i]['team'],myEmployees[i]['function'],myEmployees[i]['phone'],myEmployees[i]['cell'],myEmployees[i]['email'],myEmployees[i]['boss']]
            )
          }

          var functionsData = [['.key', 'title', 'description']]
          store.db('functions').orderByKey().once('value', function(data) {


            var myFunctions = $.map(data.val(), function(value) {
              return [value]
            })
            var myFunctionIds = $.map(data.val(), function(value, index) {
              return [index]
            })

            for(var i=0; i< myFunctions.length; i++)
            {
              functionsData.push(
                [myFunctionIds[i], myFunctions[i].title, myFunctions[i].description]
                )
            }


            var clustersData = [['.key', 'name', 'description']]
            store.db('clusters').orderByKey().once('value', function(data) {
              var myClusters = $.map(data.val(), function(value) {
                return [value]
              })
              var myClustersIds = $.map(data.val(), function(value, index) {
                return [index]
              })

              for(var i=0; i< myClusters.length; i++)
              {
                clustersData.push(
                  [myClustersIds[i], myClusters[i].name, myClusters[i].description]
                  )
              }

              var departmentsData = [['.key', 'name', 'description', 'cluster']]
              store.db('departments').orderByKey().once('value', function(data) {
                var myDepartments = $.map(data.val(), function(value) {
                  return [value]
                })
                var myDepartmentsIds = $.map(data.val(), function(value, index) {
                  return [index]
                })

                for(var i=0; i< myDepartments.length; i++)
                {
                  departmentsData.push(
                    [myDepartmentsIds[i], myDepartments[i].name, myDepartments[i].description , myDepartments[i].cluster]
                    )
                }


                var servicesData = [['.key', 'name', 'description', 'department']]
                store.db('services').orderByKey().once('value', function(data) {
                  var myServices = $.map(data.val(), function(value) {
                    return [value]
                  })
                  var myServicesIds = $.map(data.val(), function(value, index) {
                    return [index]
                  })


                  for(var i=0; i< myServices.length; i++)
                  {
                    servicesData.push(
                      [myServicesIds[i], myServices[i].name, myServices[i].description , myServices[i].department]
                      )
                  }

                  var teamsData = [['.key', 'name', 'description', 'service']]
                  store.db('teams').orderByKey().once('value', function(data) {
                    var myTeams= $.map(data.val(), function(value) {
                      return [value]
                    })
                    var myTeamsIds = $.map(data.val(), function(value, index) {
                      return [index]
                    })


                    for(var i=0; i< myTeams.length; i++)
                    {
                      teamsData.push(
                        [myTeamsIds[i], myTeams[i].name, myTeams[i].description , myTeams[i].service]
                        )
                    }
                    var workbook = { SheetNames:['Functions','Employees', 'Clusters', 'Departments', 'Services', 'Teams' ], Sheets:{} }

                    var ws = sheet_from_array_of_arrays(employeesData)
                    workbook.Sheets['Employees'] = ws


                    ws = sheet_from_array_of_arrays(functionsData)
                    workbook.Sheets['Functions'] = ws

                    ws = sheet_from_array_of_arrays(clustersData)
                    workbook.Sheets['Clusters'] = ws

                    ws = sheet_from_array_of_arrays(departmentsData)
                    workbook.Sheets['Departments'] = ws

                    ws = sheet_from_array_of_arrays(servicesData)
                    workbook.Sheets['Services'] = ws

                    ws = sheet_from_array_of_arrays(teamsData)
                    workbook.Sheets['Teams'] = ws

                    var wopts = { bookType:'xlsx', bookSST:false, type:'binary' }

                    var wbout = XLSX.write(workbook,wopts)
                    fileSaver.saveAs(new Blob([s2ab(wbout)],{type:'application/octet-stream'}), 'export.xlsx')
                  })
                })
              })
            })
          })
        })
      },

      importData(e) {
        var files = e.target.files
        var i,f
        for (i = 0, f = files[i]; i != files.length; ++i) {
          var reader = new FileReader()
         //var name = f.name
          reader.onload = function(e) {
            var data = e.target.result

            var workbook = XLSX.read(data, {type: 'binary'})

            let sheetNames = ['Functions','Employees', 'Clusters', 'Departments', 'Services', 'Teams' ]
            for( var j = 0 ; j < sheetNames.length; j++)
            {
              console.log('importeren van sheet '+ sheetNames[j])
              var worksheet = workbook.Sheets[sheetNames[j]]
              importSheet( worksheet,sheetNames[j])
            }
          }
          reader.readAsBinaryString(f)
        }
      }
    }
  }


  function importSheet(worksheet, objectType)
  {
    let headerCol = []
    for ( var z in worksheet)
    {
      if(z[0] === '!' || z.replace( /^\D+/g, '') !=1) continue
      console.log(objectType + '!' + z + '=' + JSON.stringify(worksheet[z].v))
      if( worksheet[z].v =='id')
      {
        // replace all the numbers bij ""
        headerCol['.key'] = z.replace(/[0-9]/g, '')
      }else
      {
        headerCol[worksheet[z].v] = z.replace(/[0-9]/g, '')
      }
    }
    console.log(headerCol)
    // find second part of : afterwards replace all not-numbers with "";
    let maxLineNr = worksheet['!ref'].split(':')[1].replace( /^\D+/g, '')
    for( let i =1 ; i <= maxLineNr; i++)
    {
      //console.log(worksheet["A"+i].v)
      let myNewObject = new Object()
      for (let key in headerCol)
      {
        if( worksheet[headerCol[key]+i])
        {
          myNewObject[key] = worksheet[headerCol[key]+i].v
        }else
        {
          myNewObject[key] =undefined
        }
      }
      if( myNewObject['.key']== '.key')
      {
        continue
      }
      console.log(myNewObject)
      if( objectType == 'Employees')
      {
        store.updateEmployee(myNewObject)
      }else if( objectType == 'Functions')
      {
        store.updateFunction(myNewObject)
      }else if( objectType == 'Clusters')
      {
        store.updateCluster(myNewObject)
      }else if( objectType == 'Departments')
      {
        store.updateDepartment(myNewObject)
      }else if( objectType == 'Services')
      {
        store.updateService(myNewObject)
      }else if( objectType == 'Teams')
      {
        store.updateTeam(myNewObject)
      }else
      {
        console.log('handler not yet defined')
      }
    }
  }

  function s2ab(s) {
    var buf = new ArrayBuffer(s.length)
    var view = new Uint8Array(buf)
    for (var i=0; i!=s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF
    return buf
  }

  function datenum(v, date1904) {
    if(date1904) v+=1462
    var epoch = Date.parse(v)
    return (epoch - new Date(Date.UTC(1899, 11, 30))) / (24 * 60 * 60 * 1000)
  }

  function sheet_from_array_of_arrays(data, opts) {
    console.log(opts)
    var ws = {}
    var range = {s: {c:10000000, r:10000000}, e: {c:0, r:0 }}
    for(var R = 0; R != data.length; ++R) {
      for(var C = 0; C != data[R].length; ++C) {
        if(range.s.r > R) range.s.r = R
        if(range.s.c > C) range.s.c = C
        if(range.e.r < R) range.e.r = R
        if(range.e.c < C) range.e.c = C
        var cell = {v: data[R][C] }
        if(cell.v == null) continue
        var cell_ref = XLSX.utils.encode_cell({c:C,r:R})

        if(typeof cell.v === 'number') cell.t = 'n'
        else if(typeof cell.v === 'boolean') cell.t = 'b'
        else if(cell.v instanceof Date) {
          cell.t = 'n'; cell.z = XLSX.SSF._table[14]
          cell.v = datenum(cell.v)
        }
        else cell.t = 's'

        ws[cell_ref] = cell
      }
    }
    if(range.s.c < 10000000) ws['!ref'] = XLSX.utils.encode_range(range)
    return ws
  }



</script>