<template>
  <div>
    <div id="categories">
      <div id="cat-header">
        <h2><i class="find icon"></i>Stedewerkers</h2>
      </div>
      <div class="container">
        <h2>Functies
          <span class="clickable right-float">
            <i  v-if="admin" @click="editFunction" class="edit icon"></i>
          </span>
        </h2>
        <div class="ui list">
           <div v-for="myFunction in functions " class="item clickable">
            <div class="content">
              <a class="ui empty circular label"></a>
              <span @click="functionSelected(myFunction)"
                :class="{selected: selectedFunction === myFunction['.key']}">
                {{ myFunction.title }}
              </span>
            </div>
          </div>
        </div>
        <h2>Clusters
          <span class="clickable right-float">
            <i v-if="admin" @click="editClustersFunction" class="edit icon"></i>
          </span>
        </h2>
        <div class="ui list">
           <div v-for="myCluster in clusters" class="item clickable">
            <div class="content">
              <a class="ui empty circular label"></a>
              <span @click="clusterSelected( myCluster)"
                :class="{selected: selectedCluster === myCluster['.key']}">
                {{ myCluster.name }}
              </span>
            </div>
          </div>
        </div>
        <h2 v-if="selectedCluster !== ''">Afdelingen
        <span class="clickable right-float">
          <i v-if="admin" @click="editDepartmentsFunction(selectedCluster)" class="edit icon"></i>
        </span>
        </h2>
       <div class="ui list" v-if="selectedCluster !== ''">
          <div v-for="department in departments" class="item clickable">
            <div class="content">
              <a class="ui empty circular label"></a>
              <span @click="departmentSelected( department)"
              :class="{selected: selectedDepartment === department['.key']}">
                {{ department.name }}
              </span>
            </div>
          </div>
        </div>
        <h2 v-if="selectedDepartment !== ''">Diensten
        <span class="clickable right-float">
          <i v-if="admin"  @click="editServicesFunction(selectedDepartment)" class="edit icon"></i>
        </span>
        </h2>
         <div class="ui list" v-if="selectedDepartment !== ''">
           <div v-for="service in services" class="item clickable">
            <div class="content">
              <a class="ui empty circular label"></a>
              <span @click="serviceSelected( service)"
                :class="{selected: selectedService === service['.key']}">
                {{ service.name }}
              </span>
            </div>
          </div>
        </div>
        <h2 v-if="selectedService !== ''">Teams
          <span class="clickable right-float">
            <i v-if="admin"  @click="editTeamsFunction" class="edit icon"></i>
          </span>
        </h2>
        <div class="ui list" v-if="selectedService !== ''">
          <div v-for="team in teams " class="item clickable">
            <div class="content">
              <a class="ui empty circular label"></a>
              <span @click="teamSelected( team)"
                :class="{selected: selectedTeam === team['.key']}">
                {{ team.name }}
              </span>
            </div>
          </div>
        </div>
        <button @click="editSettings"
          class="ui grey inverted basic icon circular button right-float">
          <i class="icon setting"></i>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  //import store from '../store'
  //import {  filterDepartmentsByCluster, filterServicesByDepartment, filterTeamsByService} from '../filters'

  export default {

    data () {
      return {
      }
    },
    /*filters: {
      filterDepartmentsByCluster, filterServicesByDepartment, filterTeamsByService
    },*/
    props: ['functions', 'clusters', 'departments', 'services', 'teams', 'admin'],


    computed:
    {
      selectedFunction(){
          return this.$store.getters.functionFilter
      },
      selectedCluster(){
      return this.$store.getters.clusterFilter
      },
      selectedDepartment(){
        return this.$store.getters.departmentFilter
      },
      selectedService(){
        return this.$store.getters.serviceFilter
      },
      selectedTeam(){
        return this.$store.getters.teamFilter
      }
    },
    methods: {
      getSavedStateId() {
        return 'sidebar'
      },
      editSettings() {
        this.$router.push('/settings')
      },

      editFunction () {
        this.$router.push('/functions')
      },

      editClustersFunction () {
        this.$router.push('/clusters')
      },
      editDepartmentsFunction () {
        this.$router.push('/departments/'+this.selectedCluster)
      },
      editServicesFunction () {
        this.$router.push('/services/'+this.selectedDepartment)
      },
      editTeamsFunction () {
        this.$router.push('/teams/'+this.selectedService)
      },

      functionSelected (myFunction) {
        this.$store.dispatch('changeFunctionFilter', myFunction['.key'])
      },

      clusterSelected (myCluster) {
          this.$store.dispatch('changeClusterFilter', myCluster['.key'])
      },
      departmentSelected (myDepartment) {
        this.$store.dispatch('changeDepartmentFilter', myDepartment['.key'])
      },
      serviceSelected (myService) {
        this.$store.dispatch('changeServiceFilter', myService['.key'])
      },
      teamSelected (myTeam) {
        this.$store.dispatch('changeTeamFilter', myTeam['.key'])
      }

    }

  }
</script>