<template>

  <div id="team-modal" class="ui long modal">
    <i class="close icon"></i>
    <div class="header">
      <div  v-if="team === undefined"  >Voeg een nieuwe dienst toe</div>
      <div  v-if="team !== undefined"  >Pas de dienst aan</div>
    </div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Dienst naam</label>
          <input v-model="name" type="text" placeholder="Vul een dienst naam in...">
        </div>
        <div class="field">
          <label>Dienst beschrijving</label>
          <textarea rows="2" v-model="description" type="text" placeholder="Vul een beschrijving in..."></textarea>
        </div>
      </form>
    </div>
    <div class="actions">

      <button  v-if="team !== undefined"  @click.stop="deleteTeam(team)" class="ui circular negative button pull left floated compact"><i class="icon save"></i>Verwijder</button>

      <button   @click.stop="addTeam" class="ui circular positive button pull right floated compact"><i class="icon save"></i>Sla op</button>
    </div>
  </div>

</template>

<script>
  import store from '../store'
  import eventHub from '../eventHub'

  export default {

    data () {
      return {
        name: '',
        description: '',
        team:undefined,
        service: '',
      }
    },

    methods: {
      addTeam () {
        if( this.team === undefined)
        {
          console.log('adding')
          var newTeam = {}
          newTeam['name'] = this.name
          newTeam['description'] = this.description
          newTeam['service'] = this.service['.key']
          store.addTeam(newTeam)
        }else
        {
          this.team.name = this.name
          this.team.description = this.description
          store.updateTeam(this.team)
        }
        $('#team-modal').modal('hide')

      },

      deleteTeam ( myTeam) {
        console.log(myTeam['.key'])
        if( confirm('Ben je zeker dat je ' + myTeam.name +' wilt verwijderen?'  ))
        {
          store.deleteTeam(myTeam)
        }
        $('#team-modal').modal('hide')
      },


    },
    mounted () {
      eventHub.$on('add-team', ( myService) => {
        this.name = this.description = ''
        this.team = undefined
        this.service = myService
        $('#team-modal').modal('show')
      }),
      eventHub.$on('edit-team', (myTeam) => {
        this.name = myTeam.name
        this.description  = myTeam.description
        this.team = myTeam
        this.service = myTeam.service
        $('#team-modal').modal('show')
      })
    }
  }
</script>