<template>
  <div id="team-container" class="ui container">
    <div class="content">
      <div class="ui form" >
      <h4 class="ui dividing header">Overzicht teams voor dienst: {{service.name}}</h4>
        <table class="ui compact celled table unstackable">
          <thead class="full-width">
            <tr>
              <th>Team</th>
              <th>Beschrijving</th>
              <th style="width:110px"><button @click.stop="addTeam" class="ui circular icon positive button "><i class="icon plus"></i></button></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="myTeam in teams" >
              <td>{{myTeam.name}}</td>
              <td>{{myTeam.description}}</td>
              <td>
                <button @click.stop="editTeam(myTeam)" class="ui circular icon negative button "><i class="icon edit"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
          <button @click.stop="goToServices" class="ui circular  button pull right floated compact"><i class="icon minus circle"></i>Terug naar diensten</button>
      </div>
    </div>
      <team-modal></team-modal>
  </div>
</template>

<script>

  import store from '../store'
  import TeamModal from './TeamModal.vue'
  import eventHub from '../eventHub'
  export default {


    data () {
      return {
        service:{},
        slug:this.$route.params['serviceId'],
      }
    },
    components: {
      TeamModal,
    },
    created: function () {
      if( this.slug !== undefined)
      {
        this.$bindAsObject('service',  store.db('services').child(this.slug))
        this.$bindAsArray('teams', store.db('teams').orderByChild('service').equalTo(this.slug))
        //retrievedFunction  =store.db('functions').child(this.employee.function);
        //console.log(retrievedFunction);
      }
    },
    methods: {

      addTeam () {
        eventHub.$emit('add-team', this.service)
      },

      editTeam ( myTeam) {
        eventHub.$emit('edit-team', myTeam)
      },

      goBack () {
        this.$router.push('/')
      },
      goToServices() {
        this.$router.push('/services/'+this.service.department)
      },


      listTeams(myTeam)
      {
        this.$router.push('/teams/'+myTeam['.key'])
      },
    },

  }

</script>